@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

:root {
    --background-color--primary: #fcfcfc;
    --background-color--alt: #111111;
    --font-color--primary: #111111;
    --font-color--alt: #fcfcfc;
    --font-family: "SUSE", sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    background-color: var(--background-color--primary);
    color: var(--font-color--primary);
}
